<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Conocenos.</h1>
               
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">¿Quienes somos?</h2>
                    <h5 class="description">Somos un grupo de estudiantes de desarrollo de software.</h5>
                </div>
            </div>
            
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Integrantes del proyecto</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-3">
                        <div class="team-player">
                            <img src="assets/img/per2.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Jhonathan Sanchez</h4>
                            <p class="category text-primary">Programador</p>
                                 </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-player">
                            <img src="assets/img/per3.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Anthony Intriago</h4>
                            <p class="category text-primary">Programador</p>
                                  </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-player">
                            <img src="assets/img/per6.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Yolanda Perez</h4>
                            <p class="category text-primary">Programador</p>
                                </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-player">
                            <img src="assets/img/per1.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Josue Zurita</h4>
                            <p class="category text-primary">Programador</p>
                               </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-player">
                            <img src="assets/img/per4.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Byron Guaygua</h4>
                            <p class="category text-primary">Programador</p>
                                  </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-player">
                            <img src="assets/img/per5.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Arias Jean Pierre</h4>
                            <p class="category text-primary">Programador</p>
                                 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Benito Juarez
                <a href="#" target="_blank">Diseñado</a>. Por
                <a href="#" target="_blank">Estudiantes de cuarto</a>.
            </div>
        </div>
    </footer>
</div>

