<div class="container col-md-8">
    <div class="row">
<hr>
    </div>
    <div class="row">
        <form [formGroup]="myForm" (ngSubmit)="submitForm(myForm)">
            <h1 style="text-align: left;">Agregar nuevo cliente</h1>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">titulo</label>
                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="tittle"
                        formControlName="tittle">
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">resumen</label>
                    <input type="text" class="form-control" id="inlineFormInput" placeholder="summary"
                        formControlName="summary">
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">content</label>
                    <input type="text" class="form-control" id="inlineFormInput" placeholder="contentrl"
                        formControlName="content">
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">url</label>
                    <input type="text" class="form-control" id="inlineFormInput" placeholder="url"
                        formControlName="url">
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">id_user</label>
                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="user_id"
                        formControlName="user_id">
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInput">id_categoria </label>
                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="category_id"
                        formControlName="category_id">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-info" [disabled]="!myForm.valid">Guardar</button>
                </div>
                <br>
                <br>
                <br><br>

            </div>
        </form>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">tittle</th>
                    <th scope="col">summary</th>
                    <th scope="col">content</th>
                    <th scope="col">url</th>
                    <th scope="col">user_id</th>
                    <th scope="col">category_id</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blogs of usersList; let i=index">
                   <span class="badge badge-dark"><th scope="row">{{i+1}}</th></span> 
                    <td>{{blogs.tittle}}</td>
                    <td>{{blogs.summary}}</td>
                    <td>{{blogs.content}}</td>
                    <td>{{blogs.url}}</td>
                    <td>{{blogs.user_id}}</td>
                    <td>{{blogs.category_id}}</td>
                    <td>
                        <span style="margin-right: 10px"><button (click)="edit(cliente)"
                                class="btn btn-outline-primary">Editar</button> </span>
                        <span><button (click)="delete(cliente)" class="btn btn-outline-danger">Eliminar</button></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>